parameters:
  level: 8
  paths:
    - app
    - tests
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '#Call to an undefined method Laravel\\.*#'
    - '#Call to an undefined method Illuminate\\.*#'
